@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #ffba03;
  --secondary: #ffdd81;
  --accent: #1cbaa6;
  --pactto-charcoal: #191d1f;
  --pactto-gray: #b8b8b8;
  --pactto-light-gray: #f3f3f2;
  --pactto-green: #7e9c3d;
  --pactto-red: #d92336;
  --default-black: #232225;
  --secondary-black-bg: #2f2f2f;
  --default-gray: #bebebe;
  --default-blue: #2b96fc;
}

*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: none;
  border-color: #e5e7eb;
}
